[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
