.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    text-align: center;
    margin-top: 250px;
    grid-column: 2;
}

.body {
    text-align: center;
    padding: 50px 50px 50px 50px;
    grid-column: 2;
}