.meal-items .meal .meal-buttons .meal-edit-btn .meal-edit-a {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.meal-items:hover > .meal .meal-buttons .meal-edit-btn .meal-edit-a {
    visibility:visible;
    opacity: 1;
}

.meal-items .meal .meal-buttons .meal-delete-btn .meal-delete-a {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.meal-items:hover > .meal .meal-buttons .meal-delete-btn .meal-delete-a {
    visibility:visible;
    opacity: 1;
}

.bmi-items .bmi .bmi-buttons .bmi-edit-btn .bmi-edit-a {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.bmi-items:hover > .bmi .bmi-buttons .bmi-edit-btn .bmi-edit-a {
    visibility:visible;
    opacity: 1;
}

.bmi-items .bmi .bmi-buttons .bmi-delete-btn .bmi-delete-a {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.bmi-items:hover > .bmi .bmi-buttons .bmi-delete-btn .bmi-delete-a {
    visibility:visible;
    opacity: 1;
}