.parrent {
    max-width: 850px;
    width: 100%;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-column: 3;
    grid-template-columns: repeat(3, 1fr);
}

.button {
    color: #fff;
}