{% extends "apps/layout.html" %}

{% block body %}

<div id="main-container-bmi">
  <div class="c-white ta-center">
    <h1 class="display-4">Body Mass Index</h1>
    <p class="lead">Calculate your BMI.</p><br>
  </div>

  <div class="c-white ta-center">
    <label for="Height" id="label-bmi" class="col-sm-2 col-form-label">Height</label>
    <input type="text" class="form-control input-bmi" id="Height" placeholder="Type here in cm.">
  </div>

  <div class="c-white ta-center">
    <label for="Weight" id="label-bmi" class="col-sm-2 col-form-label">Weight</label>
    <input type="text" class="form-control input-bmi" id="Weight" placeholder="Type here in kg."><br>
  </div><br>
  
  <div class="c-white ta-center">
    <button type="submit" class="btn btn-primary" id="btn" onclick="bmi()" >Calculate</button><br><br>
    <p id="output" class="text-center"></p>
  </div>
</div>

{% endblock %}