{% extends "apps/layout.html" %}

{% block body %}

<div id="index-div">
  <div id="index-div3">
    <p>

    </p>
  </div>
  <div id="index-div2">
    <div>
      <h1 class="display-4">Welcome to <h1 id="logo-div">Healthy at home</h1></h1>
    </div>
    <br>
    <div>
      <h1 id="index-h1" class="lead">
        Your personal online "fitness trainer". <br>
        Here you can find a bunch of  useful <br>
        features such as, <a href="/BMICalculator/">BMI Calculator</a>, <a href="/tasks/">Tasks List</a>, <br>
        <a href="/CalorieCounter/">Calorie Counter</a>, and also a bunch of <a href="/workouts/">Workouts</a>.
      </h1>
    </div>
  </div>
</div>

{% endblock %}