{% extends "apps/layout.html" %}

{% block body %}
<div class="main-sth">
<div style="display: flex;" >
    <div id="div-flex-1">
        <h1 class="workout-name">{{workout.name}}</h1>
    </div>
</div>
<h2>{{workout.exercises|linebreaksbr}}</h2>
<iframe width="560" height="315" src="{{workout.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div id="div-flex-2">
    <a class="btn btn-primary" href="/workouts/">Back</a>
</div>
</div>
{% endblock %}