{% extends "apps/layout.html" %}

{% block body %}
<div id="workout-div">
  
  <div id="div-workouts1">
    <h1 class="workout-title">Workouts section</h1>
    <br>
    <h6>
      We have created a bunch of workouts for you. <br>
      Feel free to add some more workouts up to <br>
      your personal taste from the "Create workout" <br>
      button on the left top corner of the page or from <a href="/workout/create/">here</a>.
    </h6>
  </div>
  <div>
    <a class="btn btn-primary" href="/workout/create/">Create Workout</a>
  </div>
</div>


<div id="div-wrapper" class="wrapper"> 
  {% for workout in workout %}
    {% if workout.is_approved == True %}
    <div class="card" style="width: 18rem;">

      <img src="{{workout.image}}" class="card-img-top" alt="We couldn't load this image...">

      <div class="card-body">
        <a class="card-title" href="/workout/{{workout.name}}">{{workout.name}}</a>
        <p class="card-text">{{workout.content|linebreaksbr}}</p>

      </div>
    </div>
    {% endif %}
  {% endfor %}
  
</div>

{% endblock %}