{% extends "apps/layout.html" %}

{% block body %}
<div id="workout-div">
  
  <div id="div-workouts1">
    <h1 class="workout-title">Workouts section</h1>
    <br>
    <h6>
      We have created a bunch of workouts for you. <br>
      Feel free to add some more workouts up to <br>
      your personal taste from the "Create workout" <br>
      button on the left top corner of the page or from <a href="/workout/create/">here</a>.
    </h6>
  </div>
  <div>
    <a class="btn btn-primary" href="/workout/create/">Create Workout</a>
  </div>
</div>


<div id="div-wrapper" class="wrapper"> 
  {% for workout in workout %}
    <div class="card" style="width: 18rem;">

      <img src="{{workout.image}}" class="card-img-top" alt="We couldn't load this image...">

      <div class="card-body">
        <a class="card-title" href="/workout/{{workout.name}}">{{workout.name}}</a>
        <p class="card-text">{{workout.content|linebreaksbr}}</p>
        <p>
          <a href="/workout/edit/{{workout.name}}">Edit</a> |

          <a href="/workout/edit/{{workout.name}}" type="button" data-toggle="modal" data-target="#exampleModal">
            Delete
           </a>
 
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   Are you sure you want to delete your workout
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <a type="button" class="btn btn-danger" id="delete-workout-btn" href="/workout/delete/{{workout.name}}">Delete</a>
                 </div>
               </div>
             </div>
           </div>

        </p>
      </div>
      
    </div>


  {% endfor %}
  
</div>

{% endblock %}