{% extends "app/layout.html" %}

{% block body %}
  <div style="padding-top: 200px; color: #fff; text-align: center;">
    <div>
      <h1>
        Healthy at Home <img src="../../../images/favicon.ico" alt="logo">
      </h1>
    </div>
    <div>
      <h4>
        Your personal online "fitness trainer". <br>
        Here you can find a bunch of  useful <br>
        features such as, <a href="{% url 'meals_and_bmis' %}">BMI Calculator</a>,<br>
        <a href="{% url 'tasks' %}">Tasks List</a>, and also a bunch of <a href="{% url 'workouts' %}">Workouts</a>.
      </h4>
    </div>
  </div>
{% endblock %}