{% extends "app/layout.html" %}

{% block body %}
<div class="container" style="margin-top: 15%;">
  <div class="main-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h1>
              Healthy at Home
            </h1>
            <h4>
              Your personal online "fitness trainer". Here you can find a bunch of  useful features such as, <a href="{% url 'meals_and_bmis' %}">BMI Calculator</a>, <a href="{% url 'tasks' %}">Tasks List</a>, and also a bunch of <a href="{% url 'workouts' %}">Workouts</a>.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}