<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Log in</h2>
                        </div>
                        <form action="{% url 'login-submit' %}" method="post" name="login_form">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input autofocus class="form-control" type="text" name="username" minlength="8" placeholder="Username" id="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password" minlength="8" placeholder="Password" id="password" required>
                                </div>
                                <!-- <div class="form-group">
                                    <input type="checkbox" name="stay_logged" value="Stay Logged In?" id="stay_logged">
                                    <label for="stay_logged"> Stay logged?</label>
                                </div> -->
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-success" type="submit" value="Login">
                                <input class="btn btn-primary" type="submit" data-dismiss="modal" value="Close">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>