{% extends "app/layout.html" %}

{% block body %}
<div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ user.image_url }}" alt="Couldn't load..." class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4>
                        {% if user.first_name and user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </h4>
                    <a class="btn btn-primary" href="{% url 'index' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page" style="width: 200px; margin: 1px;">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Home Page
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 text-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">Daily Intake</h4>
                        </div>
                        <div class="col">
                            <a class="btn btn-warning" href="#" style="width: 200px; margin: 1px;">
                                <i class="fa fa-cutlery" aria-hidden="true"></i> Add Meal
                            </a>
                        </div>
                    </div>
                    <hr>
                    {% for meal in meals %}
                        <div class="row p-2">
                            <div class="col-sm-3">
                                {% if meal.fat > 100.00 or meal.calories > 100.00 or meal.carbs > 100.00 or meal.protein > 100.00 %}
                                    <h6 class="mb-0" style="color: red;">
                                        <u>{{ meal.name }}</u>
                                    </h6>
                                {% elif 100.00 >= meal.fat and meal.fat >= 50.00 or 100.00 >= meal.calories and meal.calories >= 50.00 or 100.00 >= meal.carbs and meal.carbs >= 50.00 or 100.00 >= meal.protein and meal.protein >= 50.00 %}
                                    <h6 class="mb-0" style="color: yellow;">
                                        <u>{{ meal.name }}</u>
                                    </h6>
                                {% elif meal.fat < 50.00 or meal.calories < 50.00 or meal.carbs < 50.00 or meal.protein < 50.00 %}
                                    <h6 class="mb-0" style="color: green;">
                                        <u>{{ meal.name }}</u>
                                    </h6>
                                {% endif %}
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <h6>Fat</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ meal.fat }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Calories</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ meal.calories }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Carbs</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ meal.carbs }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Protein</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ meal.protein }} g</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4 class="text-center">No meals yet...</h4>
                    {% endfor %}
                    <hr>
                    <div class="row p-1">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><u>Summary</u></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <h6>Fat</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ total_fat }} g</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h6>Calories</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ total_calories }} g</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h6>Carbs</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ total_carbs }} g</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h6>Protein</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ total_protein }} g</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0">BMI Results</h4>
                        </div>
                        <div class="col">
                            <a class="btn btn-success" href="#" style="width: 200px; margin: 1px;">
                                <i class="fa fa-calculator"></i> Calculate BMI
                            </a>
                        </div>
                    </div>
                    <hr>
                    {% for bmi in bmis %}
                        <div class="row p-2">
                            <div class="col-sm-3">
                                {% if bmi.result > 30.0 %}
                                    <h6 class="mb-0" style="color: red;">
                                        <u>Extremely Overweight</u>
                                    </h6>
                                {% elif bmi.result > 25.0 %}
                                    <h6 class="mb-0" style="color: yellow;">
                                        <u>Overweight</u>
                                    </h6>
                                {% elif 25.0 >= bmi.result and bmi.result >= 18.5 %}
                                    <h6 class="mb-0" style="color: green;">
                                        <u>Healthy weight</u>
                                    </h6>
                                {% elif 18.5 > bmi.result %}
                                    <h6 class="mb-0" style="color: yellow;">
                                        <u>Underweight</u>
                                    </h6>
                                {% elif 15.0 > bmi.result %}
                                    <h6 class="mb-0" style="color: red;">
                                        <u>Extremely Underweight</u>
                                    </h6>
                                {% endif %}
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <h6>Height</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ bmi.height }} cm</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Weight</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ bmi.weight }} kg</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Result</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ bmi.result }}</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Created</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ bmi.created_at.date }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4 class="text-center">No calculations yet...</h4>
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><u>Average Results</u></h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <h6>Height</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ average_height }} cm</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h6>Weight</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ average_weight }} kg</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h6>Result</h6>
                                    </div>
                                    <div class="row">
                                        <h6>{{ average_result }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}