{% extends "app/layout.html" %}

{% block body %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">

            <!-- Profile Credentials Card -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ user.image_url }}" alt="Couldn't load..." class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <a class="btn btn-primary" href="{% url 'index' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page" style="width: 200px; margin: 1px;">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Home Page
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <!-- Meals Card -->
            <div class="col-md-8 text-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-0">Intake</h4>
                            </div>
                            <div class="col">

                                <!-- Add Meal Button -->
                                <a class="btn btn-warning" href="" style="width: 200px; margin: 1px;" data-toggle="modal" data-target="#createMeal">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i> Add Meal
                                </a>

                                <!-- Add Meal Popup -->
                                <div class="modal fade text-left" id="createMeal">
                                    <form action="{% url 'meal_create' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2>Add Meal</h2>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input class="form-control" type="text" name="name" placeholder="Enter name" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="calories" class="form-label">Calories</label>
                                                        <input class="form-control" type="number" name="calories" placeholder="Enter amount of calories" required min="0" step=".01">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fat" class="form-label">Fat</label>
                                                        <input class="form-control" type="number" name="fat" placeholder="Enter amount of fat" required min="0" step=".01">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="carbs" class="form-label">Carbs</label>
                                                        <input class="form-control" type="number" name="carbs" placeholder="Enter amount of carbs" required min="0" step=".01">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="protein" class="form-label">Protein</label>
                                                        <input class="form-control" type="number" name="protein" placeholder="Enter amount of protein" required min="0" step=".01">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success" type="submit" style="width: 100px;">
                                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                    </button>
                                                    <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% for meal in meals %}
                            <!-- Meal Info -->
                            <div class="row p-2 meal-items">
                                <div class="col-sm-3 meal">

                                    <!-- Meal Name -->
                                    <div class="row">
                                        {% if meal.fat > 100.00 or meal.calories > 100.00 or meal.carbs > 100.00 or meal.protein > 100.00 %}
                                            <h6 class="mb-0" style="color: red;">
                                                <u>{{ meal.name }}</u>
                                            </h6>
                                        {% elif 100.00 >= meal.fat and meal.fat >= 50.00 or 100.00 >= meal.calories and meal.calories >= 50.00 or 100.00 >= meal.carbs and meal.carbs >= 50.00 or 100.00 >= meal.protein and meal.protein >= 50.00 %}
                                            <h6 class="mb-0" style="color: yellow;">
                                                <u>{{ meal.name }}</u>
                                            </h6>
                                        {% elif meal.fat < 50.00 or meal.calories < 50.00 or meal.carbs < 50.00 or meal.protein < 50.00 %}
                                            <h6 class="mb-0" style="color: green;">
                                                <u>{{ meal.name }}</u>
                                            </h6>
                                        {% endif %}
                                    </div>

                                    <!-- On-hover Buttons for Edit and Delete -->
                                    <div class="row meal-buttons">
                                        <div class="col meal-edit-btn" style="text-align: right;">
                                            <a class="meal-edit-a" href="" data-toggle="modal" data-target="#editMealModal">
                                                <i class="fa fa-pencil text-info btn" data-toggle="tooltip" data-placement="bottom" title="Edit todo"></i>
                                            </a>
                                        </div>
                                        <div class="col meal-delete-btn" style="text-align: left;">
                                            <a class="meal-delete-a" href="" data-toggle="modal" data-target="#deleteMealModal">
                                                <i class="fa fa-trash-o text-danger btn" data-toggle="tooltip" data-placement="bottom" title="Delete todo"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Meal Stats -->
                                <div class="col-sm-9 text-secondary">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h6>Fat</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ meal.fat }} g</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Calories</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ meal.calories }} g</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Carbs</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ meal.carbs }} g</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Protein</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ meal.protein }} g</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Edit Meal Popup -->
                            <div class="modal fade text-left" id="editMealModal">
                                <form action="{% url 'meal_edit' id=meal.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>{{ meal.name }}</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input class="form-control" type="text" name="name" placeholder="Enter name" value="{{ meal.name }}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="calories" class="form-label">Calories</label>
                                                    <input class="form-control" type="number" name="calories" placeholder="Enter amount of calories" value="{{ meal.calories }}" required min="0" step=".01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="fat" class="form-label">Fat</label>
                                                    <input class="form-control" type="number" name="fat" placeholder="Enter amount of fat" value="{{ meal.fat }}" required min="0" step=".01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="carbs" class="form-label">Carbs</label>
                                                    <input class="form-control" type="number" name="carbs" placeholder="Enter amount of carbs" value="{{ meal.carbs }}" required min="0" step=".01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="protein" class="form-label">Protein</label>
                                                    <input class="form-control" type="number" name="protein" placeholder="Enter amount of protein" value="{{ meal.protein }}" required min="0" step=".01">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="submit" style="width: 100px;">
                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
        
                            <!-- Delete Meal Popup -->
                            <div class="modal fade" id="deleteMealModal">
                                <form action="{% url 'meal_delete' id=meal.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>Delete "{{ meal.name }}"?</h2>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="submit" style="width: 100px;">
                                                    Delete
                                                </button>
                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                    Go back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% empty %}
                            <h4 class="text-center">No meals yet...</h4>
                        {% endfor %}

                        <!-- Summary for Intake -->
                        <hr>
                        <div class="row p-1">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><u>Summary</u></h6>
                            </div>

                            <!-- Summary Stats -->
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <h6>Fat</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ total_fat }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Calories</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ total_calories }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Carbs</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ total_carbs }} g</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Protein</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ total_protein }} g</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BMI -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-0">BMI</h4>
                            </div>

                            <!-- Create BMI Button -->
                            <div class="col">
                                <a class="btn btn-success" href="" style="width: 200px; margin: 1px;" data-toggle="modal" data-target="#createBMI">
                                    <i class="fa fa-calculator"></i> Calculate BMI
                                </a>
                            </div>

                            <!-- Create BMI Popup -->
                            <div class="modal fade text-left" id="createBMI">
                                <form action="{% url 'bmi_create' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>Create BMI</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="height" class="form-label">Height</label>
                                                    <input class="form-control" type="number" name="height" placeholder="Enter height" required min="0" step=".01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="weight" class="form-label">Weight</label>
                                                    <input class="form-control" type="number" name="weight" placeholder="Enter weight" required min="0" step=".01">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="submit" style="width: 100px;">
                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        {% for bmi in bmis %}
                            <!-- BMI Info -->
                            <div class="row p-2 bmi-items">

                                <!-- BMI Title -->
                                <div class="col-sm-3 bmi">
                                    <div class="row">
                                        {% if bmi.result > 30.0 %}
                                        <h6 class="mb-0" style="color: red;">
                                            <u>Extremely Overweight</u>
                                        </h6>
                                        {% elif bmi.result > 25.0 %}
                                            <h6 class="mb-0" style="color: yellow;">
                                                <u>Overweight</u>
                                            </h6>
                                        {% elif 25.0 >= bmi.result and bmi.result >= 18.5 %}
                                            <h6 class="mb-0" style="color: green;">
                                                <u>Healthy weight</u>
                                            </h6>
                                        {% elif 18.5 > bmi.result %}
                                            <h6 class="mb-0" style="color: yellow;">
                                                <u>Underweight</u>
                                            </h6>
                                        {% elif 15.0 > bmi.result %}
                                            <h6 class="mb-0" style="color: red;">
                                                <u>Extremely Underweight</u>
                                            </h6>
                                        {% endif %}
                                    </div>

                                    <!-- On-hover Buttons for Edit and Delete -->
                                    <div class="row bmi-buttons">
                                        <div class="col bmi-edit-btn" style="text-align: right;">
                                            <a class="bmi-edit-a" href="" data-toggle="modal" data-target="#editBMIModal">
                                                <i class="fa fa-pencil text-info btn" data-toggle="tooltip" data-placement="bottom" title="Edit todo"></i>
                                            </a>
                                        </div>
                                        <div class="col bmi-delete-btn" style="text-align: left;">
                                            <a class="bmi-delete-a" href="" data-toggle="modal" data-target="#deleteBMIModal">
                                                <i class="fa fa-trash-o text-danger btn" data-toggle="tooltip" data-placement="bottom" title="Delete todo"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- BMI Stats -->
                                <div class="col-sm-9 text-secondary">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h6>Height</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ bmi.height }} cm</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Weight</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ bmi.weight }} kg</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Result</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ bmi.result }}</h6>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h6>Created</h6>
                                            </div>
                                            <div class="row">
                                                <h6>{{ bmi.created_at.date }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Edit BMI Popup -->
                            <div class="modal fade text-left" id="editBMIModal">
                                <form action="{% url 'bmi_edit' id=bmi.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>{{ bmi.result }}</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="height" class="form-label">Height</label>
                                                    <input class="form-control" type="number" name="height" placeholder="Enter height" value="{{ bmi.height }}" required min="0" step=".01">
                                                </div>
                                                <div class="form-group">
                                                    <label for="weight" class="form-label">Weight</label>
                                                    <input class="form-control" type="number" name="weight" placeholder="Enter weight" value="{{ bmi.weight }}" required min="0" step=".01">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="submit" style="width: 100px;">
                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
        
                            <!-- Delete BMI Popup -->
                            <div class="modal fade" id="deleteBMIModal">
                                <form action="{% url 'bmi_delete' id=bmi.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>Delete "{{ bmi.result }}"?</h2>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="submit" style="width: 100px;">
                                                    Delete
                                                </button>
                                                <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                                                    Go back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% empty %}
                            <h4 class="text-center">No calculations yet...</h4>
                        {% endfor %}

                        <!-- BMI Average -->
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0"><u>Average Results</u></h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <h6>Height</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ average_height }} cm</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Weight</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ average_weight }} kg</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h6>Result</h6>
                                        </div>
                                        <div class="row">
                                            <h6>{{ average_result }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}