{% extends "app/layout.html" %}

{% block body %}
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ user.image_url }}" alt="Couldn't load..." class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>
                    {% if user.first_name and user.last_name %}
                      {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </h4>
                  <h5>
                    {% if request.user.is_superuser %}
                      <span class="badge rounded-pill badge-warning">Administrator</span>
                    {% else %}
                      <span class="badge rounded-pill badge-primary">Customer</span>
                    {% endif %}
                  </h5>
                  {% if user.job and user.city and user.state and user.country %}
                    <p class="text-secondary mb-1">
                        {{ user.job }}
                    </p>
                    <p class="text-muted font-size-sm">
                        {{ user.city }}, {{ user.state }}, {{ user.country }}
                    </p>
                  {% endif %}
                  <a class="btn btn-success" href="{% url 'profile_edit' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile Settings" style="width: 200px; margin: 5px;">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Profile Settings
                  </a>
                  <a class="btn btn-primary" href="{% url 'index' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page" style="width: 200px; margin: 5px;">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Home Page
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <!-- Personal Info -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><i class="fa fa-id-card" aria-hidden="true"></i> Full Name</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                  {% else %}
                    No information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><i class="fa fa-user-circle" aria-hidden="true"></i> Username</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.username %}
                    {{ user.username }}
                  {% else %}
                    No information given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><i class="fa fa-envelope" aria-hidden="true"></i> Email</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.email %}
                    {{ user.email }}
                  {% else %}
                    No email given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><i class="fa fa-phone" aria-hidden="true"></i> Phone</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.phone_number %}
                    {{ user.phone_number }}
                  {% else %}
                    No phone number given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg><a {% if user.facebook %}href="https://www.facebook.com/{{ user.facebook }}" target="_blank" {% endif %}>Facebook</a></h6></h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.facebook %}
                    {{ user.facebook }}
                  {% else %}
                    No facebook username given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg><a {% if user.instagram %}href="https://www.instagram.com/{{ user.instagram }}" target="_blank" {% endif %}>Instagram</a></h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.instagram %}
                    {{ user.instagram }}
                  {% else %}
                    No instagram username given
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg><a {% if user.twitter %}href="https://www.twitter.com/{{ user.twitter }}" target="_blank" {% endif %}>Twitter</a></h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {% if user.twitter %}
                    @{{ user.twitter }}
                  {% else %}
                    No twitter username given
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}