<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="logoutModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Log out?</h2>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'sign_out' %}">
                                <input class="btn btn-success" type="submit" value="Logout" style="width: 100px;">
                            </a>
                            <input class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>