{% extends "app/layout.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

{% block body %}
    <div class="container" style="font-family: URW Chancery L, cursive;">
        <div class="main-body">
            <div class="card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <iframe src="{{ workout.video_url }}" frameborder="0" width="100%" height="100%"></iframe>
                        </div>
                        <div class="col">
                            <h1>{{ workout.title }}</h1>
                            <h4>by {{ workout.customer }}</h4>
                            {% if workout.public %}
                                —— <span class="badge rounded-pill badge-primary" style="font-size: large;">Public</span> ——
                            {% else %}
                                ——<span class="badge rounded-pill badge-danger" style="font-size: large;">Private</span> ——
                            {% endif %}
                            {% if workout.exercises %}
                                <hr>
                                <h3>{{ workout.exercises }}</h3>
                            {% endif %}
                            <hr>
                            <a class="btn btn-primary" href="{% url 'workouts' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                            {% if workout.customer == request.user %}
                                <a class="btn btn-success" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page" data-toggle="modal" data-target="#editWorkoutModal">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-danger" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Home Page" data-toggle="modal" data-target="#deleteWorkoutModal">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editWorkoutModal">
        <form action="{% url 'workout_edit' id=workout.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{{ workout.title }}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="form-label">Title</label>
                            <input class="form-control" type="text" name="title" value="{{ workout.title }}" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="workout_image" class="form-label">Image</label>
                            <input class="form-control" type="file" name="workout_image" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="video_url" class="form-label">Video URL</label>
                            <input class="form-control" type="url" name="video_url" value="{{ workout.video_url }}" placeholder="Enter Video URL">
                        </div>
                        <div class="form-group">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" type="text" name="description" placeholder="Enter description">{{ workout.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exercises" class="form-label">Exercises</label>
                            <textarea class="form-control" type="text" name="exercises" placeholder="Enter exercises">{{ workout.exercises }}</textarea>
                        </div>
                        <div class="form-group">
                            <input  type="checkbox" name="public" {% if workout.public %}checked{% endif %}>
                            <label for="public" class="form-label">Public</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" style="width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="deleteWorkoutModal">
        <form action="{% url 'workout_delete' id=workout.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Delete "{{ workout.title }}"?</h2>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit" style="width: 100px;">
                            Delete
                        </button>
                        <button class="btn btn-primary" type="submit" data-dismiss="modal" value="Close" style="width: 100px;">
                            Go back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}