* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../../../../images/homepage.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}

#profile-picture {
    width: 25px;
    height: auto;
    border-radius: 50%;
}

#logo {
    font-family: Comic sans-serif;
    padding: 3px; 
    font-size: xx-large;
}

#navbarDropdownMenuLink {
    font-size: large;
}

.dropdown-item {
    font-size: large;
}